<%= image_tag "logo.png", class: "" %>

<div class="row">
  <div class="col-md-4">
    <h2>title</h2>
    <p>description</p>
    <p>start date</p>
    <p>duration</p>
    <p>price</p>
    <p>location</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
  </div>
</div>